{% extends 'base.html' %} 


{% block content %}
<section id="showcase-inner" class="py-5 text-white">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-12">
              <h1 class="display-4">About Spiria</h1>
              <p class="lead">A simple to use product to offer a preliminary prediction of Parkinson's disease right from the comfort of your home.</p>
            </div>
          </div>
        </div>
      </section>
    
      <!-- Breadcrumb -->
      <section id="bc" class="mt-3">
        <div class="container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'index' %}">
                  <i class="fas fa-home"></i> Home</a>
              </li>
              <li class="breadcrumb-item active"> About</li>
            </ol>
          </nav>
        </div>
      </section>
    
      <section id="about" class="py-4">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <h2>We Offer a Reliable Preliminary Prediction</h2>
              <p class="lead">Consisting of three tests: Spiral Drawing Test, Rest Tremor Frequency Test, and Questionnaire Response.</p>
              <img src="media/images/test.jpg" alt="">
              <p class="mt-4">Parkinson's disease is a progressive nervous system disorder that affects movement, with 20,000 reported cases in the US each year. At present, Parkinson’s disease diagnosis requires physical visits and often time involves elaborate tests such as blood tests and imaging tests. A complete test would cost upwards of $4000 and might prove a burden for some. Other available alternatives are smartphone apps that could help with early symptoms detection for Parkinson’s but are not accessible to non-smartphone users such as elderly people. There is a need for a device that can be operated locally without a mobile device for a cheap price. 
                  We are formulating a way to detect Parkinson’s in its early stages by making the test as compact
                  and convenient to the general public as possible. We want to create an affordable prototype that
                  enables people to conduct preliminary self-tests to determine if they should go see a doctor to get
                  checked for Parkinson’s. To do this, we will use the spiral-drawing test as proposed by
                  researchers. The test will involve tracing a spiral shape on any flat surface projected by a
                  projector. 
                  <br><br>
                  We will also do a rest tremor test. Patients will do a count with their arm rested. A tremor of
around 4 Hz is suggestive of Parkinson’s. The glove captures the coordinates and transmits via
Bluetooth to the microcontroller which is then shared with the Raspberry Pi. The coordinates of
the spiral points would be sent to the Google Cloud services by the Raspberry Pi for machine
learning analysis.
<br><br>
The user will then be presented with a questionnaire to fill out. The questions will be simple ‘yes’ or ‘no’ and each question is weighted. Finally, after considering the results of the three tests, the device will then suggest if the user should consult a neurologist for further diagnosis.

                  </p>
            </div>
            <div class="col-md-4">
              <div class="card">
                <img class="card-img-top" src="media/images/logo.jpg" alt="Seller of the month">
                <div class="card-body">
                  <h5 class="card-title">Vision:</h5>
                  <h6 class="text-secondary"></h6>
                  <p class="card-text">To be able to provide a self-diagnosis option to the public where healthcare is not readily available or affordable.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    
      <!-- Work -->
      <section id="work" class="bg-dark text-white text-center">
        <h2 class="display-4">We Work For You</h2>
        <h4>Together we can help you reach out for the help you need before it is too late.</h4>
        <hr>
        <a href="listings.html" class="btn btn-secondary text-white btn-lg">View Our Results</a>
      </section>
    
      <!-- Team -->
      <section id="team" class="py-5">
        <div class="container">
          <h2 class="text-center">Our Team</h2>
          <br>
          <div class="row text-center">
            <div class="col-md-3">
              <img src="media/images/lingess_rajoo.jpeg" alt="" class="rounded-circle mb-3">
              <h4>Lingess Rajoo</h4>
              <p class="text-success">
                Project Leader</p>
              <hr>
              <p>
                <i class="fas fa-phone"></i> (555)-555-5555</p>
              <p>
                <i class="fas fa-envelope-open"></i> lrajoo@spiria.org</p>
            </div>

            <div class="col-md-3">
                <img src="media/images/xj_chan.jpg" alt="" class="rounded-circle mb-3">
                <br><br><br>
                <h4>Xe Jin Chan</h4>
                <p class="text-success">
                  Systems Engineer</p>
                <hr>
                <p>
                  <i class="fas fa-phone"></i> (555)-555-5555</p>
                <p>
                  <i class="fas fa-envelope-open"></i> jchan@spiria.org</p>
              </div>
            
    
            <div class="col-md-3">
              <img src="media/images/zachary_lim.png" alt="" class="rounded-circle mb-3">
              <h4>Zhao Xing Lim</h4>
              <p class="text-success">Software Engineer</p>
              <hr>
              <p>
                <i class="fas fa-phone"></i> (444)-444-4444</p>
              <p>
                <i class="fas fa-envelope-open"></i> zlim@spiria.org</p>
            </div>
    
            <div class="col-md-3">
              <img src="media/images/joshua_leonardo.jpg" alt="" class="rounded-circle mb-3">
              <br>
              <h4>Joshua Leonardo</h4>
              <p class="text-success">Hardware Engineer</p>
              <hr>
              <p>
                <i class="fas fa-phone"></i> (333)-333-3333</p>
              <p>
                <i class="fas fa-envelope-open"></i> jleonardo@psiria.org</p>
            </div>
          </div>
        </div>
      </section>

{% endblock %}