{% extends 'base.html' %} {% block content %}

<!-- Showcase -->
<section id="showcase">
        <div class="container text-center">
          <div class="home-search p-5">
            <div class="overlay p-5">
              <h1 class="display-4 mb-4">
                Spiria
              </h1>
              <br>
              <h2>ECE 477 Senior Design</h2>
              <br>
              <br>
              <h3>Preliminary Prediction of Parkinson's Disease</h3>
         
            </div>
          </div>
        </div>
      </section>
    
      <!-- Listings -->
      <section id="listings" class="py-5">
        <div class="container">
          <h3 class="text-center mb-3">Recent Results</h3>
          <div class="row">
            {% if userdatas %}
              {% for userdata in userdatas %}
                <div class="col-md-6 col-lg-4 mb-4">
                  <div class="card listing-preview">
                    <img class="card-img-top" src="{{userdata.spiral.url}}" alt="">
                    <div class="card-img-overlay">
                      <h2>
                        <span class="badge badge-secondary text-white">{{userdata.prediction}}</span>
                      </h2>
                    </div>
                    <div class="card-body">
                      <div class="listing-heading text-center">
                        <h4 class="text-primary">UserID: {{userdata.userid}}</h4>
                        <p>
                 
                      </div>
                      <hr>
                      <div class="row py-2 text-secondary">
                        <div class="col-6">
                            Age: {{userdata.age}}</div>
                        <div class="col-6">
                            Tremor: {{userdata.tremor}} Hz</div>
                      </div>
                      <div class="row py-2 text-secondary">
                        <div class="col-6">
                            Response: {{userdata.questionnaire}} %</div>
                        <div class="col-6">
                          </div>
                      </div>
                      <hr>
    
                      <a href="{% url 'userdata' userdata.id %}" class="btn btn-primary btn-block">More Info</a>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% else%}
              <div class="col-md-12">
                <h3>No Users Available</h3>
              </div>  
            {% endif %}
            <!-- Listing 1 -->
    
          </div>
        </div>
      </section>
    
      <section id="services" class="py-5 bg-secondary text-white">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-4">
              <i class="fas fa-heartbeat fa-4x mr-4"></i>
              <hr>
              <h3>Preliminary Prediction</h3>
              <p>Offering you an early preliminary prediction of Parkinson's disease using three tests: Spiral Test, Rest Tremor Frequency Test, and Questionnaire Responses.</p>
            </div>
            <div class="col-md-4">
              <i class="fas fa-home fa-4x mr-4"></i>
              <hr>
              <h3>Home</h3>
              <p>All three tests can be performed with comfort of your home. Save yourself the time of setting up an appointment and get a preliminary prediction right at home.</p>
            </div>
            <div class="col-md-4">
              <i class="fas fa-dollar-sign fa-4x mr-4"></i>
              <hr>
              <h3>Affordable</h3>
              <p>While only costing you the fraction of the cost spent getting a professional diagnosis. Why not start with a preliminary prediction before seeking a professional prediction.</p>
            </div>
          </div>
        </div>
      </section>

{% endblock %}